.Container {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
  gap: 3rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #2b2929;
  font-size: 1.125rem;
}

.Container h1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.Container button {
  padding: 15px 24px;
  background: #057eda;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Container button:hover {
  background: #046bb9;
}
