@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #292828;
  background: rgb(248, 246, 246);
}

a {
  text-decoration: none;
  color: #888787;
}

a.active {
  color: #111;
}

.model-message {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.model-message h3 {
  padding: 1rem 10px;
  background: #4b09c6;
  color: #fff;
}

.model-message p {
  padding: 1rem;
}

.action-success {
  color: #0aab52;
}

.action-error {
  color: red;
}

.btn-close {
  align-self: flex-end;
  width: max-content;
  padding: 10px 15px;
  background: #4b09c6;
  color: #fff;
  margin: 15px;
  border: none;
}

.btn-close:hover {
  background: rgb(13, 147, 4);
}
