.LoadingIndicator_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  height: 100%;
}

.LoadingIndicator {
  width: 48px;
  height: 48px;
  border: 5px solid #2b2929;
  border-bottom-color: transparent;
  border-radius: 40%;
  display: inline-block;
  box-sizing: border-box;
  margin: auto;
}

